.resume-container {
  width: 100%;
  max-width: 40rem;
  margin: auto auto 5rem;
  ::selection {
    // background-color: #f56138;
  }
  h1 {
    font-size: 3rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
  }
  h2 {
    font-size: 2.2rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.9rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }
  h4 {
    font-size: 1.5rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    margin-bottom: 0.2rem;
    // color: #f56138;
  }
  h5 {
    font-size: 1.2rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }
  p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: -0.2px;
  }
  a {
    // color: #f56138;
    text-decoration: underline;
    font-weight: bold;
    line-height: 1.5;
  }
  li {
    line-height: 1.7;
  }
  iframe {
    border: none;
    margin: 1rem 0;
  }
  section {
    margin-top: 3rem;
  }

  .font-thin {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
  }

  .font-regular {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
  }

  .container {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 5rem;
  }

  .highlight {
    font-weight: 500;
    // color: #f56138;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .role-container {
  }

  .project {
  }

  .tech-stack {
    gap: 0.2em;
  }

  .tag {
    all: unset;
    background-color: #ededeb;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    // color: #f56138;
  }

  .period {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: #787774;
  }

  .desctiprion {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    word-break: keep-all;
  }

  .project-period {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #787774;
  }

  .project-description {
  }
}
