.post-item-container {
  margin-top: 3rem;
  padding: 0.5rem;
  transition: background-color 0.3s;
  & h2:hover {
    text-decoration: underline;
  }
}
.post-card-title-link {
  text-decoration: none;
}
.post-item-card-title {
  color: black;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.post-item-date {
  margin: 0;
  margin-bottom: 0.5rem;
  color: gray;
}
.post-item-description {
  color: black;
  margin: 0;
}
